@model CoverMe.Domain.Entities.CoverageRequest

@{
    Layout = null;
}


<dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Firstname)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Firstname)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Lastname)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Lastname)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Approval)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Approval)
                </dd>
</dl>
    
<form asp-action="Delete" id="deleteForm">
                <input type="hidden" asp-for="Id"/>
</form>


